<form class="pure-form pure-form-aligned" id="add-bill" onsubmit="event.preventDefault();">
    <fieldset>
        <legend>Add Bill Details</legend>
        <div class="pure-control-group">
            <label for="description">Description</label>
            <input name="description" type="text" placeholder="Description">
        </div>
        <div class="pure-control-group">
            <label for="amount">Amount</label>
            <input name="amount" type="text" placeholder="Amount">
        </div>
        <div class="pure-control-group">
            <label for="friend">Friends</label>
            <select name="friend" multiple>
<!--               <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option> -->
            </select>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Add</button>
        </div>
    </fieldset>
</form>