<form class="pure-form pure-form-aligned" id="add-user" onsubmit="event.preventDefault();">
    <fieldset>
        <legend>Add User</legend>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input name="name" type="text" placeholder="Name">
        </div>
        <div class="pure-control-group">
            <label for="age">Age</label>
            <input name="age" type="text" placeholder="Age">
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Add</button>
        </div>
    </fieldset>
</form>